---
export interface Props {
    title: string;
    image: string;
    description: string;
    link: string;
    status: string;
    rmm: string;
}

const { title, image, description, link, status, rmm } = Astro.props;

---


<div class="p-6 bg-zinc-700 flex flex-row-reverse mx-auto w-1/2 rounded-md justify-between">
    <div class="flex flex-row-reverse">
        <div class="pl-8">
            <h2 class="mb-4">{title}</h2>
            <p>{description}</p>
        </div>
        <a href={link} ><img src={image} alt=""  class="w-16 h-16"/></a>
    </div>
  


    <div class="order-first text-center">
        <span>RMM: <br />${rmm}</span>
    </div>
    
    <div class="order-first text-center">
        <span>Status: <br />{status} </span>
    </div>

  
    
 
</div>