---
    interface Props {
        title: string;
        position: string;
        picture: string;
        link: string;
        dates: string;
        duration: string;
    }


    const { title, position, picture, link, dates, duration } = Astro.props

---

<section
    class="bg-orange-100 dark:bg-dark-bg-secondary rounded-xl text-zinc-900 dark:text-slate-50 p-8 flex flex-col mb-16 w-10/12 mx-auto transition-colors duration-500">
    <h2 class="text-2xl text-center mb-4">{title}</h2>
    <img src={picture} alt="" class="w-64 h-64 block mx-auto mb-8 border-orange-500 dark:border-dark-accent border-8" />
    <span class="text-center text-gray-500 dark:text-gray-300 text-transition duration-500">{position}</span>
    <span class="text-center">{dates}</span>
    <span class="text-center mb-4">{duration}</span>
    <slot></slot>

</section>